body {
    background-color: bisque;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size:2rem;
}

header > img {
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:90%;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 20px;
}

nav li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

section {
    display: flex;
}

article {
    flex: 1;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

section article img {
    width:60%;
}

footer {
    margin-top: 20px;
    display: flex;
}

footer div {
    flex: 1;
}

footer div > img {
    width: 15%;
}